
$card-bg: rgba(255, 255, 255, 0.98);

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$dark-red: #861C40 !default;



//$primary:#861C40 !default;
//     --primary-color-active:#660B29;
//$second:#FFFFFF !default;
//     --primary-text-color:#333333;
//     --second-text-color:#FFFFFF;

// Navbar
//$navbar-dark-hover-color: rgba($white) !default;
//$navbar-light-hover-color: rgba($black, .9) !default;

/*$theme-colors: (
    primary: $primary,
    secondary: $gray-400,
    success: $success,
    info: $info,
    warning: $orange,
    danger: $danger,
    light: $gray-100,
    dark: $gray-800
);*/