<div class="container">
	<div class="titulo alt mt-4">
		<div class="container"><div class="text-vermelho-conteporaneo d-inline-block">AVA UFMA</div> virtual</div>
	</div>
	<div class="container mt-4">
		<h1 class="titulo"><span>Cursos disponíveis</span></h1>
		<div class="item cursos_disponiveis">
		</div>
	</div>
	
	
</div>
				
				