<footer class="rodape">
		<div class="container py-5">
			<div class="row justify-content-between">
				<div class="col-md-12 col-lg-3 media">
					<span class="text-uppercase d-flex mb-4">
					<i class="fa-solid fa-location-dot h2 mb-0"></i>
					<p style="margin-left:1rem"><b>UFMA</b> virtual <small class="d-block">Localização</small></p>
					</span>
					<small class="d-block">Avenida dos Portugueses, 1966, Bacanga  </small>
					<small class="d-block">CEP 65080-805, São Luís, Maranhão, Brasil.</small>
					<small class="d-block"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-c-circle" viewBox="0 0 16 16">
                        <path
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z">
                        </path>
                    </svg> 2022. DTED/UFMA. Todos os direitos reservados.</small>
				</div>
				<div class="col-md-12 col-lg-4">
					<strong class="d-block text-uppercase">Conecte-se</strong>
					<small class="d-block">Pelas redes sociais</small>
					<div class="row mt-3">
						<div class="col-4 col-lg-4 text-center">
							<i class="fab fa-instagram h1 mb-0 m-lg-2"></i>
							<span class="d-block">Instagram <br>UFMA</span>
						</div>
						<div class="col-4 col-lg-4 text-center">
							<i class="fab fa-facebook h1 mb-0 m-lg-2"></i>
							<span class="d-block">Facebook <br>UFMA</span>
						</div>
						<div class="col-4 col-lg-4 text-center">
							<i class="fab fa-youtube h1 mb-0 m-lg-2"></i>
							<span class="d-block">Canal EAD pra você</span>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-3">
					<strong class="d-block text-uppercase">Suporte</strong>
					<small class="d-block">Fale conosco</small>
					<ul>
						<li class="d-inline-block py-2"><i class="fas fa-envelope"></i> ufmavirtual.dted@ufma.br</li>
						<li class="d-inline-block py-2"><i class="fas fa-phone"></i> 0000-0000</li>
						<li class="d-inline-block py-2"><i class="fas fa-comment"></i> Central de atendimento ao aluno</li>
					</ul>
				</div>
			</div>
		</div>
	<div class="border-top">		
		<div class="container py-4 d-flex justify-content-between">
			<ul class="nav">
				<li class="nav-link"><a href="">Início</a></li>
				<li class="nav-link"><a href="">SOBRE</a></li>
				<li class="nav-link"><a href="">Cursos</a></li>
				<li class="nav-link"><a href="">Serviços</a></li>
				<li class="nav-link"><a href="">Conteúdo gratuito</a></li>
				<li class="nav-link"><a href="">Login </a></li>
			</ul>
			<div class="logo"><img src="img/ufma_virtual_logo.png" height="40"></div>
		</div>
	</div>
	</footer>