
   
<div class="item cursos_disponiveis">
    <ul id="lightslider-demo" class="content-slider">
        {{#courses}}
            <li>
                {{< theme_uva/course_card }}
                {{$url}}{{{link}}}{{/url}}
                {{$coursename}}{{coursename}}{{/coursename}}
                {{$courseimage}}{{{image}}}{{/courseimage}}
                {{$totalresources}}{{{resources}}}{{/totalresources}}
                {{$totalduration}}{{{hours}}}{{/totalduration}}
                {{$description}}{{{description}}}{{/description}}
                {{/theme_uva/course_card }}
            </li>
        {{/courses}}
    </ul>
</div>
   
