<!-- Titulo da Pagina -->

<!-- Main -->
{{> theme_uva/inc_start}}
<div class="central">
    {{> theme_uva/header}}

    <div class="titulo alt mt-4">
        <div class="container"><div class="text-vermelho-conteporaneo d-inline-block">AVA UFMA</div> virtual</div>
    </div>
    <div class="container mt-4">
        <h4 class="text-center h1 alt text-vermelho-conteporaneo p-4">Conheça nossos cursos online e continue a sua formação conosco e no seu tempo</h4>
        <!--Cursos disponiveis-->	
        <h1 class="titulo"><span>Cursos disponíveis</span></h1>
        {{{output.main_content}}}
    </div>
    
        
    
		
	<!--Rodape-->
	{{> theme_uva/footer}}
</div>

  
