{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<header id="mainNav" class="fixed-top">

<nav class="navbar m-0 p-0 navbar-landing navbar-expand-lg navbar-light ">
  <div class="container-fluid px-xl-5">
    <span class="logo_customTheme">
      <a href="#menu-start" id="menu-start" class="sr-only">Inicio do menu</a>
      <a class="navbar-brand js-scroll-trigger" href="{{config.wwwroot}}">
        <h1>
          <img id="logo" class="float-left" src="{{output.get_pix_image_url_base}}/brand/logo-color-frontpage.png" alt='logotipo UNA SUS'/>
        </h1>
      </a>
    </span>

    <div id="navbarResponsive" class="item-menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item none-mobile">
        <form action="#" class="hearder-search">
          <input type="hidden" name="redirect" value="0">
          <input type="hidden" name="courses" value="all">
          <input id="search" name="search" class="form-search pr-4" type="search" title="Pesquisar" placeholder="Pesquisar">
          <button class="btn" type="submit" value="Submit" title="Pesquisar">
            <i class="uil uil-search"></i>
          </button>
        </form>
        </li>
        <li class="nav-item none-mobile">
          <a class="nav-link px-0" href="{{config.wwwroot}}/?redirect=0&courses=all">
            Cursos
          </a>
        </li>
        <li class="nav-item none-mobile">
          <a class="nav-link px-0" href="{{config.wwwroot}}/?redirect=0&trails=all">
            Programas de formação
          </a>
        </li>
        <li class="nav-item none-mobile">
          <a class="nav-link px-0" href="{{config.wwwroot}}/local/tutorial">
            Tutoriais
          </a>
        </li>

        <li class="nav-item none-mobile">
          <a class="nav-link px-0" target="_blank" href="https://moodle2.ufma.unasus.gov.br/osticket/">
            {{#str}}navbar_callcenter, theme_saiteava{{/str}}
          </a>
        </li>

        <li class="nav-item none-mobile">
          <a id="buttonAccess" class="btn btn-access p-2" href="{{loginurl}}">
            Acessar ambiente
          </a>
        </li>

        <li class="nav-item none-desktop">
          <a id="openNav" class="nav-link ml-0"
            style="display: block;">
            <i id="icon-burguer" class="fa fa-bars" style="font-size:36px;"
              aria-hidden="true">
            </i>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<div id="mySidebar" class="sidebar-landing">
  <div class="header-landing row mx-0"> 
    <img id="main-logo" class="m-auto" src="{{ output.get_pix_image_url_base }}/brand/logo-shadow.png">
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item item-list">
      <form action="#" class="hearder-search sidebar">
        <input type="hidden" name="redirect" value="0">
        <input type="hidden" name="courses" value="all">
        <input id="search" name="search" class="form-search pr-4" type="search" title="Pesquisar" placeholder="Pesquisar">
        <button class="btn" type="submit" value="Submit" title="Pesquisar">
          <i class="uil uil-search"></i>
        </button>
      </form>
    </li>
    <li class="nav-item item-list">
      <a class="nav-link" href="{{config.wwwroot}}/?redirect=0&courses=all">
        {{#str}}courses, theme_saiteava{{/str}}
      </a>
    </li>
    <li class="nav-item item-list">
      <a class="nav-link" href="{{config.wwwroot}}/?redirect=0&trails=all">
        Programas de formação
      </a>
    </li>
    <li class="nav-item item-list">
      <a class="nav-link" href="{{config.wwwroot}}/local/tutorial">
        {{#str}}navbar_tutorial, theme_saiteava{{/str}}
      </a>
    </li>
    <li class="nav-item item-list">
      <a class="nav-link" target="_blank" href="https://moodle2.ufma.unasus.gov.br/osticket/">
        {{#str}}navbar_callcenter, theme_saiteava{{/str}}
      </a>
    </li>
    <li class="nav-item row fixed-bottom mx-0 mb-5">
      <a id="buttonAccess" class="btn-in nav-link mx-auto" href="{{loginurl}}">
        {{#str}}navbar_accessenvironment, theme_saiteava{{/str}}
      </a>
    </li>
  </ul>
</div>
</header>