{{> theme_uva/inc_start}}
<div class="central">
		{{> theme_uva/header}}
		
		<div class="container mt-4">		
			<!--Cursos disponiveis-->	
			<h1 class="titulo text-vermelho-conteporaneo"><span>Meus Cursos</span></h1>
			<div class="cursos_disponiveis meus_cursos">
				{{{output.main_content}}}
			</div>
					
		</div>	
	<!--Rodape-->
	{{> theme_uva/footer}}
    
    
</div>
{{> theme_uva/inc_end}}