
	
	
		
		<div class="row">
			<div class="caixa  pb-4">
				<div class="thumb"><img src="{{courseimage}}" class="d-block w-100" alt="{{fullname}}"></div>															
				<div>
					<small class="small text-uppercase pb-3 d-block text-end px-3">{{fullname}}</small>
					<h4 class="text-center h4 text-vermelho-conteporaneo">{{shortname}}</h4>
					
					<div class="d-flex p-3 pt-0 justify-content-between text-uppercase mb-4">
						<small class="small"><i class="fa-solid fa-handshake"></i>{{fullname}}</small>
						<small class="small"><b>{{percentage}}</b> completo</small>
					</div>
					<a href="" class="btn btn-primary btn-vermelho-conteporaneo text-uppercase rounded-5 m-auto btn-sm d-table px-4">Saiba mais</a>
				</div>
			</div>
		</div>
		
	
	
	
