<div class="col-md-6 col-lg-9">
    <div class="area_curso_disponovel">
        <div class="thumbnail">
            <img src="img/bn-teste.jpg" class="img-fluid">
                <div class="text-dinamico d-flex justify-content-end">
                    <span class="Tipo"><i class="fa-solid fa-handshake"></i> EMPREENDEDORISMO</span>
            </div>
        </div>						
        <div class="subtitulo"><span></span></div>
        <br>
        <h2 class="text-ouro">Redação corporativa 
        <span class="d-block fw-300 h6 text-uppercase py-2 text-dourado"><i class="fas fa-user"></i> Empreendedorismo</span></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus accumsan nulla urna, quis fermentum ipsum consequat et. Sed in lectus quam. Aliquam et justo nec mi tincidunt sodales. Phasellus rhoncus id justo eu facilisis. Curabitur in ante vel nibh auctor sodales. Phasellus tempus, ex quis consectetur posuere, nunc mauris commodo ex, a tempor massa est sit amet nulla. Phasellus eget vestibulum purus. Sed et lorem et augue posuere mattis. Nunc a ornare augue. Curabitur vitae justo vel ex fringilla consectetur nec nec nunc. Phasellus dictum vel ipsum vel ornare. Curabitur lobortis, massa id pretium egestas, est odio tempor risus, eu volutpat odio purus vel lorem. Etiam nec nisl nec ipsum lobortis tempor a id urna. Ut egestas augue id purus imperdiet, at maximus turpis convallis.</p>
        
        <p><i class="fas fa-star text-warning"></i> Curso com certificado imediato após a conclusão;</p>
        <p><i class="fas fa-star text-warning"></i> Carga horararia total 15 horas;</p>
        <p><i class="fas fa-star text-warning"></i> 100% online;</p>
        <p><i class="fas fa-star text-warning"></i> Tempo máximo para conclusão: Março 2023;</p>
    
    </div>
</div>
